{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h3>Envoyer la liste</h3>
      <hr>

      <form id="upload-form" method="POST" action='#'>

        <div class="form-group">
          <label>Choisir un fichier</label>
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="pdf" id="pdf">
            <label class="custom-file-label" for="pdf">Choisir...</label>
          </div>
        </div>

        <button type="submit" value="upload" class="btn btn-primary">Envoyer</button>

      </form>

    </div>
  </div>
</div>

{% endblock %}
